/* Fonts */

@font-face {
	font-family: Lusitana;
	src:
		local(Lusitana),
		url("public/font/Lusitana-Regular.ttf") format("ttf");
}
@font-face {
	font-family: Lusitana;
	font-weight: bold;
	src:
		local(Lusitana),
		url("public/font/Lusitana-Bold.ttf") format("ttf");
}

@font-face {
	font-family: Bellefair;
	src:
		local(Bellefair),
		url("public/font/Bellefair-Regular.ttf") format("ttf");
}

:root {
	--font-family: Lusitana, Garamond, serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
	--font-size: 22px;

	--heading-font-family: Bellefair, serif;
}
