@use "./theme";

@mixin underline-spacing {
	padding-bottom: 3px; // account for how text-decoration: underline isn't included in the text box
}

@mixin textbox-trim {
	text-box: trim-both cap alphabetic;
}

@mixin body-padding {
	padding: var(--spacing-vertical) var(--spacing-horizontal);
}
