.links-nextprev {
	display: flex;
	justify-content: space-between;
	gap: .5em 1em;
	list-style: "";
	border-top: 1px dashed var(--color-gray-20);
	padding: 1em 0;

	> * {
		flex-grow: 1;
	}
}

.links-nextprev-next {
	text-align: right;
}
