/* Site title */
.home-link {
	flex-grow: 1;
	//font-size: 1em; /* 16px /16 */
	font-size: 2.6rem;
	font-weight: 700;

	&:link:not(:hover) {
		text-decoration: none;
	}
}

/* Nav */
.nav {
	display: flex;
	gap: .5em 1em;
	padding: 0;
	margin: 0;
	list-style: none;
}

.nav-item {
	display: inline-block;

	a[href] {
		&:not(:hover) {
			text-decoration: none;
		}
		&[aria-current="page"] {
			text-decoration: underline;
		}
	}
}
