/* Nav */

$nav-link-padding: 0.5em;

.nav {
	margin: var(--spacing-vertical) 0 0;

	ul {
		display: flex;
		flex-flow: row wrap;
		gap: .5em 1em;
		margin: 0 0 0 0-$nav-link-padding; // make up for side padding on nav items
		padding: 0;
		list-style: none;
	}
}

.nav-item {
	display: inline-block;
	line-height: 1.75; // make the leading trim match that of the larger text above and below

	a[href] {
		display: block;
		padding: 0 $nav-link-padding;

		&:not(:hover) {
			text-decoration-line: none;
		}
		&[aria-current="page"] {
			text-decoration-line: underline;
		}
	}
}
