/* Nav */
.nav {
	display: flex;
	gap: .5em 1em;
	padding: 0;
	margin: 1rem 0 0.6rem;
	list-style: none;
}

.nav-item {
	display: inline-block;

	a[href] {
		&:not(:hover) {
			text-decoration: none;
		}
		&[aria-current="page"] {
			text-decoration: underline;
		}
	}
}
