@use "../theme";
@use "../mixins";

/* Posts list */

.postlist {
	list-style: none;
	margin: -1rem -1rem 2rem; // to fill full width of <main>
	padding: 0;
}

.postlist-item {
	padding: 2rem 1rem;
	margin: 0;
	@include mixins.divider;

	line-height: 2;
	word-spacing: 2px;
}

.postlist-title {
	display: inline-flex;
	margin: 0;
}

.postlist-link {
	padding-right: .5em;

	.postlist-item-active & {
		font-weight: bold;
	}
}

.postlist-date {
	font-size: 0.8125em; /* 13px /16 */
	color: var(--heading-color);
	word-spacing: -0.5px;
}

.postlist-excerpt {
	margin: 1em 0 0;
}
