@use "../theme";
@use "../mixins";

/* Posts list */

.postlist {
	list-style: none;
	margin: calc(var(--spacing-vertical) * -1)   // to start flush with <main>
					calc(var(--spacing-horizontal) * -1) // to fill full width of <main>
					var(--spacing-vertical);
	padding: 0;
}

.postlist-item {
	margin: 0;
	@include mixins.body-padding;
	border-bottom: var(--divider);

	word-spacing: 2px;

	header {
		display: flex;
		flex-flow: row wrap;
		align-items: baseline;
		gap: 1rem 0;
	}
}

.postlist-title {
	display: inline-block;
	margin: 0;
}

.postlist-link {
	padding-right: .5em;

	.postlist-item-active & {
		font-weight: bold;
	}
}

.postlist-date {
	font-size: 0.8125em; /* 13px /16 */
	color: var(--heading-color);
	word-spacing: -0.5px;
}

.postlist-read_more {
	@include mixins.underline-spacing;
}
