/* Site title */

header.site-header {
	container-type: inline-size;

	margin: 0;
	padding: 2rem 1rem;
	border-bottom: 1px solid var(--heading-color);

	background-image: url(/img/digby_transparent.png);
	background-size: 29% auto;
	background-position: center right;
	background-origin: content-box;
	background-repeat: no-repeat;

	@media screen and (max-width: 480px) {
		background: none;
	}
}

.site-title {
	display: block;
	margin: 0;

	white-space: nowrap;
	text-shadow: 0 0 10px black;
	text-decoration: none;

	font-family: "Breathe Fire IV", serif;
	font-size: max(17.9cqw, 40px);
	font-weight: 700;
	font-variant: small-caps;

	&, &:link, &:visited {
		color: var(--title-color); // fallback for non-webkit browsers

		-webkit-text-stroke: 0.0001em var(--title-outline-color);
		-webkit-text-fill-color: var(--title-color);
	}
	&:hover {
		-webkit-text-stroke-color: var(--title-hover-outline-color);
		-webkit-text-fill-color: var(--title-hover-color);
	}

	@media screen and (max-width: 480px) { // probably unnecessary, but shrug
		width: min-content;
		white-space: wrap;
		font-size: max(45cqw, 40px);
		text-align: center;
		align-self: center;
		margin: 0 auto;
		line-height: 0.6;
	}
}

.subtitle {
	$line-height: 0.9;

	width: fit-content;
	margin-top: -0.1em; // to even out the apparent spacing between lines TODO this looks wrong at smaller sizes actually
	margin-bottom: -#{$line-height}em;  // to hide the extra line from the spacer element

	line-height: $line-height;
	text-align: justify;
	color: var(--heading-color);

	font-family: "Bardolatry", serif;
	font-size: max(5.9cqw, 24px);

	// all small-caps just looks a little better than all caps for some reason
	font-variant: small-caps;
	text-transform: lowercase;

	@media screen and (max-width: 480px) {
		font-size: max(8.4cqw, 36px);
		margin-top: 3.5rem;
	}
}
