@use "../theme";
@use "../mixins";

/* Site title */

header.site-header {
	position: relative;
	container-type: inline-size;

	margin: 0;
	@include mixins.body-padding;
	border-bottom: var(--divider);

	background-image: url(/img/digby_transparent.png);
	background-size: 28% auto;
	background-position: top calc(20% - 20px) right;
	background-origin: content-box;
	background-repeat: no-repeat;

	@media screen and (max-width: 480px) {
		background: none;
	}
}

.site-title {
	@include mixins.textbox-trim;
	display: block;
	position: relative;

	z-index: 10;
	margin: 0;
	padding: 0.03em 0; // capital letters are slightly taller than box

	white-space: nowrap;
	text-shadow: 0 0 10px black;
	text-decoration-line: none;

	font-family: "Breathe Fire IV", serif;
	font-size: max(17.9cqw, 40px);
	font-weight: 700;
	font-variant: small-caps;

	&, &:link, &:visited {
		color: var(--title-color); // fallback for non-webkit browsers

		-webkit-text-stroke: 0.0001em var(--title-outline-color);
		-webkit-text-fill-color: var(--title-color);
	}
	&:hover {
		-webkit-text-stroke-color: var(--title-hover-outline-color);
		-webkit-text-fill-color: var(--title-hover-color);
		// unfortunately we don't seem to be able to put a transition on text stroke and fill
	}

	@media screen and (max-width: 480px) { // probably unnecessary, but shrug
		width: min-content;

		margin: 0 auto;
		padding-bottom: 4cqw; // bottom of "k" in "skull"

		line-height: 0.65;
		white-space: wrap;
		text-align: center;
		font-size: max(45cqw, 40px);
	}
}

.subtitle {
	$line-height: 1.2;

	width: fit-content;
	margin-top: var(--spacing-vertical);
	margin-bottom: -#{$line-height}em;  // to hide the extra line from the spacer element

	line-height: $line-height;
	text-align: justify;
	color: var(--text-color);

	font-family: "Bardolatry", serif;
	font-size: max(calc(4.4cqw - 2px), 18px);

	text-transform: uppercase;
	word-spacing: 3px;

	@media screen and (max-width: 480px) {
		font-size: max(9.4cqw, 1rem);
		margin-bottom: 0;
		text-align: center;

		.spacer {
			display: none;
		}
	}
}
