@use "../theme";

#skip-link {
	text-decoration: none;
	background: var(--background-color);
	color: var(--text-color);
	padding: 0.5rem 1rem;
	border: 1px solid var(--theme-color-darkest);
	border-radius: 2px;

	/* Prevent visually-hidden skip link fom pushing content around when focused */
	&.visually-hidden:focus {
		position: absolute;
		top: 1rem;
		left: 1rem;
		/* Ensure it is positioned on top of everything else when it is shown */
		z-index: 999;
	}
}
