@use "../theme";
@use "../mixins";

/* Tags */
.post-tag {
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	font-style: italic;

	.postlist-item > & {
		align-self: center;
	}
}

/* Post tags list */
.post-metadata {
	@include mixins.textbox-trim;
	display: flex;
	flex-wrap: wrap;
	gap: 1em;

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	li {
		display: inline-block;
	}
}

/* List of all tags */
.tags-list {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		display: inline-block;

		&:not(:last-child)::after {
			content: ",";
		}
	}
}
