@use "../mixins";

/* Tags */
.post-tag {
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	font-style: italic;

	.postlist-item > & {
		align-self: center;
	}
}

/* Tags list */
.post-metadata {
	@include mixins.textbox-trim;
	display: flex;
	flex-wrap: wrap;
	gap: 1em;

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	li {
		display: inline-block;
	}
}
