@use "../fonts";
@use "../theme";

html,
body {
	padding: 0;
	margin: 0 auto;

	font-size: var(--font-size);
	font-family: var(--font-family), serif;

	color: var(--text-color);
	background-color: var(--background-color);

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	font-smooth: always;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
html {
	overflow-y: scroll;
}
body {
	position: relative;
	container-type: inline-size;
	max-width: 960px; // 60rem at 16px font size
}
