@use "../theme";
@use "../mixins";

main,
footer {
	@include mixins.body-padding;

	line-height: 1.5;
	word-spacing: 2px;

	:first-child {
		margin-top: 0;
	}
}

footer {
	font-size: var(--font-size-sm);
}
