@use "../theme";
@use "../mixins";

main,
footer {
	@include mixins.body-padding;

	line-height: 1.5;
	word-spacing: 2px;

	:first-child {
		margin-top: 0;
	}
}

main {
	border-bottom: var(--divider);
}

footer {
	font-size: var(--font-size-sm);
}

hr {
	margin: var(--spacing-vertical) calc(var(--spacing-horizontal) * -1);
	border: none;
	border-bottom: var(--divider);
}
