@use "../theme";

main,
footer {
	padding: 1rem;
}

main :first-child {
	margin-top: 0;
}

header {
	display: flex;
	gap: 1em;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 1em;

	border-bottom: 1px dashed var(--color-gray-20);
}
