/* Fluid images via https://www.zachleat.com/web/fluid-images/ */
img {
	max-width: 100%;

	&[width][height] {
		height: auto;
	}

	&[src$=".svg"] {
		width: 100%;
		height: auto;
		max-width: none;
	}
}

video,
iframe {
	width: 100%;
	height: auto;
}
iframe {
	aspect-ratio: 16/9;
}
