@use "../fonts";
@use "../theme";
@use "../mixins";

p, h1, h2, h3, h4, h5, h6, blockquote, ul, ol, li, time {
	@include mixins.textbox-trim;
}

p, h1, h2, h3, h4, h5, h6, blockquote {
	margin: var(--spacing-vertical) 0;

	&:last-child {
		margin-bottom: 0;
	}
}

a {
	transition: color 0.1s;

	&, &:link {
		text-underline-position: from-font;
		text-decoration-thickness: 1px;
		color: var(--text-color-link);
	}
	&:visited {
		color: var(--text-color-link-visited);
	}
	&:hover {
		color: var(--text-color-link-hover);
	}
	&:active {
		color: var(--text-color-link-active);
	}
}

h1, h2, h3 {
	font-family: Bellefair, serif; 		// unfortunately this font has weird stroke problems...
	font-weight: normal; 							// which make it look terrible at bold weights
	-webkit-text-stroke-width: 0.2px; // but we can simulate boldness with stroke width
	line-height: 1.3;
	color: var(--heading-color);

	padding-top: 2px; // this font is a little taller than the text box

	&:has(a) {
		@include mixins.underline-spacing;
	}
	a {
		&, &:link {
			color: var(--heading-color-link);
		}
		&:visited {
			color: var(--heading-color-link-visited);
		}
		&:hover {
			color: var(--heading-color-link-hover);
		}
		&:active {
			color: var(--heading-color-link-active);
		}
	}
}

pre,
code {
	font-family: var(--font-family-monospace), monospace;
}

pre {
	margin: 2em 0;

	&:not([class*="language-"]) {
		line-height: 1.375; /* 22px /16 */
		tab-size: var(--syntax-tab-size);
		-webkit-hyphens: none;
		-ms-hyphens: none;
		hyphens: none;
		direction: ltr;
		text-align: left;
		white-space: pre;
		word-spacing: normal;
		word-break: normal;
		overflow-x: auto;
	}
}

code {
	word-break: break-all;
}
