@use "../fonts";
@use "../theme";

p {
	&:last-child {
		margin-bottom: 0;
	}
}

a {
	&, &:link {
		text-underline-position: from-font;
		text-decoration-thickness: 1px;
		color: var(--text-color-link);
	}
	&:visited {
		color: var(--text-color-link-visited);
	}
	&:hover, &:active {
		color: var(--text-color-link-active);
	}
}

h1, h2, h3 {
	font-family: Bellefair, serif; // unfortunately this font has weird stroke problems...
	font-weight: normal;
	-webkit-text-stroke-width: 0.2px; // fix Bellefair's weird stroke problems
	line-height: 1.5;
	color: var(--heading-color);

	a {
		&, &:link {
			color: var(--heading-color-link);
		}
		&:visited {
			color: var(--heading-color-link-visited);
		}
		&:hover, &:active {
			color: var(--heading-color-link-active);
		}
	}
}

pre,
code {
	font-family: var(--font-family-monospace), monospace;
}
pre:not([class*="language-"]) {
	margin: .5em 0;
	line-height: 1.375; /* 22px /16 */
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	overflow-x: auto;
}
code {
	word-break: break-all;
}
